.sectionGeneral{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;

    background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

height: 100vh;
}

h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: bolder;

}
.sectionImagen{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;
}

img{
    width: 8rem;
}

.sectionForm{
    align-items: center;
    justify-content: center;
    display: block;
    flex: wrap;
}

.sectionMat{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sectionButton{
    text-align: center;
}